@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  @apply
    w-screen
    h-screen
    bg-gray-900
    text-gray-100;
}

.layout > main {
  @apply md:container mx-auto p-4;
}

.right-full-minus-w-6 {
  right: calc(100% - theme('spacing.6'))
}