@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  @apply
    font-main
    p-0
    m-0;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout {
  @apply
    w-screen
    h-screen
    text-gray-100;
  background: linear-gradient(0deg, rgba(59,31,51,1) 0%, rgba(17,0,0,1) 34%);
}

.layout > main {
  @apply max-w-lg mx-auto p-4;
}

.right-full-minus-w-6 {
  right: calc(100% - theme('spacing.6'))
}
