.toggle {
  @apply
    relative
    inline-block
    align-middle
    select-none
    transition
    duration-200
    ease-in;
}

.input {
  @apply
    absolute
    top-0
    block
    w-8
    h-8
    rounded-lg
    bg-white
    border-4
    appearance-none
    cursor-pointer;

  right: calc(100% - theme('spacing.8'));
  transition: all 0.3s ease-in;
  outline: none;
}

.background {
  @apply
    h-8
    overflow-hidden
    flex
    items-center
    justify-center
    text-sm
    rounded
    bg-gray-300
    text-gray-800
    cursor-pointer;

  transition: all 0.3s ease-in;
}

.input:checked {
  @apply right-0 border-green-700;
}

.input:checked + .background {
  @apply bg-green-700 text-white font-bold;
}
